body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

#nav {
	background: #111;
	color: white;
	height: 30px;
	text-align: center;
	padding: 5px 0 15px 0;
}

#nav .left {
	float: left;
	margin: 9px 10px;
}

#nav .right {
	float: right;
	margin: 9px 10px;
}

h1 {
	display: inline;	
}

#main {
	margin: 10px 0 0 0;
}

#table {
	border: 1px black solid;
	margin: 10px 0;
}

table {
	table-layout: fixed;
	width: 100%;
}

thead {
	text-align: left;
	background: #aaa;
}

.left {
	float: left;
}

.right {
	float: right;
}

fieldset {
	border: none;
	display: inline;
}

fieldset label {
	margin: 5px;
	display: inline-block;
}

.title {
	display: block;
}

.fs80 label {
	width: 80px;
}

.fs95 label {
	width: 95px;
}

.fs140 label {
	width: 140px;
}

#form {
	border: solid black 1px;
	padding: 20px;
	background: #eee;
}

#trip_form {
	height: 200px;
}
