<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>logbooks</title>
		<meta name="description" content="" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<!-- jQuery imports -->
		<script src="lib/js/jquery-1.8.3.js"></script>
		<!-- Query UI imports  -->
		<link href="lib/css/start/jquery-ui-1.9.2.custom.css" rel="stylesheet">
		<script src="lib/js/jquery-ui-1.9.2.custom.js"></script>
		<!-- blockUI imports -->
		<script src="lib/js/jquery.blockUI.js"></script>
		<!-- jsRender jquery views imports -->
		<script src="lib/js/jsrender.js" type="text/javascript"></script>
		<script src="lib/js/jquery.observable.js" type="text/javascript"></script>
		<script src="lib/js/jquery.views.js" type="text/javascript"></script>
		
		<script src="lib/js/seapal.views.dataoperations.js" type="text/javascript"></script>
		<script src="lib/js/seapal.views.crudclient.js" type="text/javascript"></script>

		<script src="logbooks_data.js"></script>
		<script src="logbooks.js"></script>
	</head>

	<body>
		<div id="seapal-root">
			<header>
				<div>
					<span class="seapal-logo"> </span>
					<h1>seapal</h1>
				</div>
				<h2>Logbücher</h2>
			</header>

			<nav>
				<div class="seapal-location">
					<span>-></span><span class="seapal-space"> </span><span>logbücher</span>
				</div>
			</nav>

			<div id="seapal-content">
				<div class="seapal-list-header">
					<div class="seapal-shipname">
						Name
					</div>
					<div class="seapal-shiptype">
						Typ
					</div>
					<div class="seapal-shipowner">
						Eigner
					</div>
					<div class="seapal-shipregisternumber">
						Rigisternr.
					</div>
				</div>
				<div id="seapal-list">
					<!-- Startup load image, removed when data is loaded -->
					<img src="lib/img/pleaseWait.gif" />
				</div>

				<!-- logbooks template for the list !-->
				<script id="seapal-logbook-template" type="text/x-jsrender">

					<div class="seapal-header">
					<div class="seapal-nr-{{>logbookId}}">
						<span class="seapal-ship-icon"> </span>
						<div class="seapal-readonly">
							{{if logbookId == "new"}}
							<div class="seapal-new-item">
								<span class="ui-icon ui-icon-plus"> </span>Neues Logbuch
							</div>
							{{else}}
							<div class="seapal-shipname" data-link="{:shipname:}"></div>
							<div class="seapal-shipname" data-link="{:shiptype:}"></div>
							<div class="seapal-shipname" data-link="{:shipowner:}"></div>
							<div class="seapal-shipname" data-link="{:shipregisternumber:}"></div>
							<div class="seapal-actions">
								<div id="seapal-list-item-{{>logbookId}}-edit" class="ui-state-default ui-corner-all" title="Bearbeiten">
									<span class="ui-icon ui-icon-pencil"> </span>
								</div>
								<div id="seapal-list-item-{{>logbookId}}-remove" class="ui-state-default ui-corner-all" title="Löschen">
									<span class="ui-icon ui-icon-trash"> </span>
								</div>
							</div>
							{{/if}}
						</div> 
						<div class="seapal-edit">
							<div class="seapal-shipname">
								<input type="text" data-link="{:shipname:}" />
								<span class="seapal-info"> </span>
							</div>
							<div class="seapal-shiptype">
								<input type="text" data-link="{:shiptype:}" />
								<span class="seapal-info"> </span>
							</div>
							<div class="seapal-shipowner">
								<input type="text" data-link="{:shipowner:}" />
								<span class="seapal-info"> </span>
							</div>
							<div class="seapal-shipregisternumber">
								<input type="text" data-link="{:shipregisternumber:}" />
								<span class="seapal-info"> </span>
							</div>
							<div class="seapal-actions">
								<div id="seapal-list-item-{{>logbookId}}-save" class="ui-state-default ui-corner-all" title="Speichern">
									<span class="ui-icon ui-icon-check"> </span>
								</div>
								<div id="seapal-list-item-{{>logbookId}}-cancel" class="ui-state-default ui-corner-all" title="Bearbeiten abbrechen">
									<span class="ui-icon ui-icon-closethick"> </span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="seapal-content">
					<div class="seapal-nr-{{>logbookId}}">
						{{if logbookId == "new"}}
						<div class="seapal-readonly"></div>
						{{else}}
						<div class="seapal-readonly">
							<div class="seapal-general">
								<span class="seapal-label">{{>info.sailsign.labeltext}}</span>
								<span class="seapal-field" data-link="{:sailsign:}"></span>
								<br>
								<span class="seapal-label">{{>info.homeport.labeltext}}</span>
								<span class="seapal-field" data-link="{:homeport:}"></span>
								<br>
								<span class="seapal-label">{{>info.yachtclub.labeltext}}</span>
								<span class="seapal-field" data-link="{:yachtclub:}"></span>
								<br>
								<span class="seapal-label">{{>info.insurance.labeltext}}</span>
								<span class="seapal-field" data-link="{:insurance:}"></span>
								<br>
								<span class="seapal-label">{{>info.callsign.labeltext}}</span>
								<span class="seapal-field" data-link="{:callsign:}"></span>
								<br>
								<span class="seapal-label">{{>info.constructer.labeltext}}</span>
								<span class="seapal-field" data-link="{:constructer:}"></span>
							</div>
							<div class="seapal-sizes">
								<span class="seapal-label">{{>info.shiplength.labeltext}}</span>
								<span class="seapal-field" data-link="{:shiplength:}"></span>
								<br>
								<span class="seapal-label">{{>info.shipwidth.labeltext}}</span>
								<span class="seapal-field" data-link="{:shipwidth:}"></span>
								<br>
								<span class="seapal-label">{{>info.gauge.labeltext}}</span>
								<span class="seapal-field" data-link="{:gauge:}"></span>
								<br>
								<span class="seapal-label">{{>info.mastheight.labeltext}}</span>
								<span class="seapal-field" data-link="{:mastheight:}"></span>
								<br>
								<span class="seapal-label">{{>info.expulsion.labeltext}}</span>
								<span class="seapal-field" data-link="{:expulsion:}"></span>
								<br>
							</div>
							<div class="seapal-equipment">
								<span class="seapal-label">{{>info.rigtype.labeltext}}</span>
								<span class="seapal-field" data-link="{:rigtype:}"></span>
								<br>
								<span class="seapal-label">{{>info.constructionyear.labeltext}}</span>
								<span class="seapal-field" data-link="{:constructionyear:}"></span>
								<br>
								<span class="seapal-label">{{>info.engine.labeltext}}</span>
								<span class="seapal-field" data-link="{:engine:}"></span>
								<br>
								<span class="seapal-label">{{>info.size_fueltank.labeltext}}</span>
								<span class="seapal-field" data-link="{:size_fueltank:}"></span>
								<br>
								<span class="seapal-label">{{>info.size_watertank.labeltext}}</span>
								<span class="seapal-field" data-link="{:size_watertank:}"></span>
								<br>
								<span class="seapal-label">{{>info.size_sewagetank.labeltext}}</span>
								<span class="seapal-field" data-link="{:size_sewagetank:}"></span>
								<br>
								<span class="seapal-label">{{>info.size_mainsail.labeltext}}</span>
								<span class="seapal-field" data-link="{:size_mainsail:}"></span>
								<br>
								<span class="seapal-label">{{>info.size_genua.labeltext}}</span>
								<span class="seapal-field" data-link="{:size_genua:}"></span>
								<br>
								<span class="seapal-label">{{>info.size_spi.labeltext}}</span>
								<span class="seapal-field" data-link="{:size_spi:}"></span>
							</div>
						</div>
						{{/if}}

						<div class="seapal-edit">
							<div class="seapal-general">
								<label for="seapal-list-item-{{>logbookId}}-input-sailsign">{{>info.sailsign.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-sailsign" data-link="{:sailsign:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-homeport">{{>info.homeport.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-homeport" data-link="{:homeport:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-yachtclub">{{>info.yachtclub.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-yachtclub" data-link="{:yachtclub:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-insurance">{{>info.insurance.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-insurance" data-link="{:insurance:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-callsign">{{>info.callsign.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-callsign" data-link="{:callsign:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-constructer">{{>info.constructer.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-constructer" data-link="{:constructer:}" />
							</div>
							<div class="seapal-sizes">
								<label for="seapal-list-item-{{>logbookId}}-input-shiplength">{{>info.shiplength.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-shiplength" data-link="{:shiplength:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-shipwidth">{{>info.shipwidth.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-shipwidth" data-link="{:shipwidth:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-gauge">{{>info.gauge.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-gauge" data-link="{:gauge:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-mastheight">{{>info.mastheight.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-mastheight" data-link="{:mastheight:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-expulsion">{{>info.expulsion.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-expulsion" data-link="{:expulsion:}" />
								<br>
							</div>
							<div class="seapal-equipment">
								<label for="seapal-list-item-{{>logbookId}}-input-rigtype">{{>info.rigtype.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-rigtype" data-link="{:rigtype:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-constructionyear">{{>info.constructionyear.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-constructionyear" data-link="{:constructionyear:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-engine">{{>info.engine.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-engine" data-link="{:engine:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-size_fueltank">{{>info.size_fueltank.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-size_fueltank" data-link="{:size_fueltank:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-size_watertank">{{>info.size_watertank.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-size_watertank" data-link="{:size_watertank:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-size_sewagetank">{{>info.size_sewagetank.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-size_sewagetank" data-link="{:size_sewagetank:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-size_mainsail">{{>info.size_mainsail.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-size_mainsail" data-link="{:size_mainsail:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-size_genua">{{>info.size_genua.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-size_genua" data-link="{:size_genua:}" />
								<br>
								<label for="seapal-list-item-{{>logbookId}}-input-size_spi">{{>info.size_spi.labeltext}}</label>
								<input type="text" name="seapal-list-item-{{>logbookId}}-input-size_spi" data-link="{:size_spi:}" />
							</div>
						</div>
					</div>
				</div>
				
				</script>

			</div>
			<footer>

			</footer>

			<!-- Overlay during loading of data -->
			<div id="seapal-busy-overlay" style="display:none;">
				<p>
					Bitte warten
				</p>
				<img src="lib/img/pleaseWait.gif" />
			</div>

			<!-- Dialog for deleting a list element -->
			<div id="seapal-remove-dialog-confirm" style="display:none;">
				<p>
					Wirklich löschen?
				</p>
			</div>
		</div>
	</body>
</html>